*{
  background-color: #5F5F5F;
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper{
  display: inline-flex;
}

.wrapper .static-txt{
  font-size: 60px;
  color: #E1764C;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li{
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  color: #F6F6F6;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
@keyframes slide {
    100%{
      top: -360px;
    }
}
.dynamic-txts li span{
  position: relative;
}

.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #F6F6F6;
  animation: typing 2s steps(12) infinite;
  background: #5F5F5F;
}

@keyframes typing {
    100%{
      left: 100%;
      margin: 0 -3px 0 35px;
    }
}
