*{
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #5F5F5F;
  /* display: flex; */
  align-items: center;
  text-align: center;
}

#menu{
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 35px;
}

#menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#menu a:hover{
  background-color: #FCB33F;
  color: #F6F6F6;
  -moz-box-shadow: 7px 7px 5px #333;
  -webkit-box-shadow: 7px 7px 5px #333;
  box-shadow: 7px 7px 5px #333;

}

#menu a:active{
  background-color: #5F5F5F;
  border: 2px solid #FCB33F;
  -moz-box-shadow: 7px 7px 5px #333;
  -webkit-box-shadow: 7px 7px 5px #333;
  box-shadow: 7px 7px 5px #333;
  color: #FCB33F;
}

#col1, #col2 {
  float: left;
  width: 45%;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.image1{
  width:100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
}

.image2{
  width:100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
}

@media screen and (max-width:600px) {
    .col1, .col2{
        width: 50%;
    }
}
@media screen and (max-width:400px) {
    .col1, .col2{
        width: 100%;
    }
}

.wrapper{
  display: inline;
  padding: 15px;
  text-align: center;
  width:100%;
  height: 120px;

}
.static-txt{
  font-size: 60px;
  color: #E1764C;
  font-weight: 400;
  position: relative;
}
.dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic{
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  color: #F6F6F6;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
@keyframes slide {
    100%{
      top: -360px;
    }
}

.dynamic::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #F6F6F6;
  animation: typing 2s steps(12) infinite;
  background: #5F5F5F;
}

@keyframes typing {
    100%{
      left: 100%;
      margin: 0 -3px 0 35px;
    }
}

#content1 {
  display: inline-flex;
  background-color: #CDD3D7;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 30px;
  height: 80%;
  width: 80%;
  -moz-box-shadow: 10px 10px 8px #333;
  -webkit-box-shadow: 10px 10px 8px #333;
  box-shadow: 10px 10px 8px #333;
  margin-bottom: 30px;
}
#content2 {
  display: inline-block;
  background: #F6F6F6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* padding: 20px; */
  -moz-box-shadow: inset 8px 8px 6px #888;
  -webkit-box-shadow: inset 8px 8px 6px #888;
  box-shadow: inset 8px 8px 6px #888;
  position:relative;
  width: 97%;

}

#col1, #col2{
  flex-grow: 1;
}

.border1{
  border-left:3px solid #E1764C;
  height: 680px;
  position:absolute;
  left: 50%;
  margin-top: 8%;
}

.header {
  font-size: 35px;
  color: #5F5F5F;
  position: relative;
  padding-top: 60px;
}

.header::after {
  content: "";
  position: absolute;
  /* align-items: center;
  justify-content: center; */
  left:45%;
  bottom: 0;
  width: 10%;
  height: 0px;
}

p {
  font-size: 18px;
}

.dotdot{
  display: flex;
  position: absolute;
  height: auto;
  left: 43%;
  margin: -25px 0 0 -25px;
}
.dot{
  height: 20px;
  width: 20px;
  border-radius: 50%;

  display: inline-block;
  /* vertical-align: middle; */
  margin-left: 20px;
  margin-right: 20px;
  -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888;

}

#dot1{
  background-color: #5F5F5F;
}
#dot2{
  background-color: #FCB33F;
}
#dot3{
  background-color: #91B6C5;
}
#dot4{
  background-color: #E1764C;
}
.contact{
  transform: translateY(-50%);
  margin-top: 8%;
}
.contact a{
  display: inline-block;
  align-content: center;
  margin-left: 2%;
  margin-right: 2%;
}

.icon{
    /* padding: 12px 50px 10px 10px; */
  vertical-align: middle;
  /* transform: perspective(1px) translateZ(0); */
  /* box-shadow: 0 0 1px rgb(0 0 0 / 0%); */
  border-radius: 50%;
  padding: 8px;
  /* border: 2.8px dashed #F6F6F6; */
  /* background-clip: content-box; */
  transition: 0.7s;
  cursor: pointer;
  margin: 0 0px;

}

.icon span{
  display: block;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.icon:hover{
  padding: 13px;
  color: white;
  /* margin: 10px; */
  transform: translateX(5px) rotate(360deg);
}

.contactme{
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}

#footer{
  color: #F6F6F6;
  text-align: center;
}

.urlIcon{
  margin-bottom: 5%;
}
