.resumepic {
  width: 100%;
}

.resume{
  background-color: white;
  margin: 2%;
  width:96%;
  padding: 2%;
  box-sizing: border-box;
  text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

#resumeButt{
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 50px;
}
#resumeButt a {
  float: left;
  display: block;
  color: #91B6C5;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 2px solid #91B6C5;
}

#resumeButt a:hover{
  background-color: #91B6C5;
  color: #F6F6F6;
  -moz-box-shadow: 7px 7px 5px #333;
  -webkit-box-shadow: 7px 7px 5px #333;
  box-shadow: 7px 7px 5px #333;

}

#resumeButt a:active{
  background-color: #91B6C5;
  -moz-box-shadow: inset 8px 8px 6px #888;
  -webkit-box-shadow: inset 8px 8px 6px #888;
  box-shadow: inset 8px 8px 6px #888;
  color: #F6F6F6;
}
